.building rect {
	fill: #C25943;
	stroke: white;
}

path {
	fill: rgba(255,255,255,0.02);
}

.hiCo {
	fill: #ff6e00;
}

.medCo {
	fill: #FFB844;
}

.lowCo {
	fill: #FFD38E;
}

.notMentioned {
	fill: #FFEFD7;
}

.student {
	fill: rgba(0, 0, 0, 0.5);
}

text {
	font-family: "Calibri", sans-serif;
	font-size: .8em;
}

.d3-tip {
	font-family: "Calibri", sans-serif;
	font-size: .8em;
	color: white;
	background: rgba(0,0,0,0.8);
	border-radius: 5px;
	padding: 10px;
	transition: .3s;
}